<div class="=container">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>

            <div class="container mx-auto">
                <nav class=" text-white">
                    <div class="container mx-auto flex flex-wrap items-center justify-between py-4">
                        <ul class="flex flex-col md:flex-row md:space-x-4">
                            <li class="nav-item">
                                <a class="nav-link hover:text-gray-300 bg-gray-100 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium text-gray-900" href="{{ path('app_home') }}">Page d'accueil
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hover:text-gray-300 bg-gray-100 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium text-gray-900" href="{{ path('app_reservations_index') }}">Vos Réservations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hover:text-gray-300 bg-gray-100 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium text-gray-900" href="{{ path('app_reservations_new') }}">Nouvelle Réservation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hover:text-gray-300 bg-gray-100 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium text-gray-900" href="{{ path('app_films_index') }}">Films</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hover:text-gray-300 bg-gray-100 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium text-gray-900" href="#">Contact</a>
                            </li>
                        </ul>
                        {#<div class="flex space-x-4">
                            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-200" type="button" onclick="window.location.href='{{ path('app_login') }}'">Connexion</button>
                            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-200" type="button" onclick="window.location.href='{{ path('app_register') }}'">Inscription</button>
                        </div>#}

                        <div class="flex items-center space-x-4">
                            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-200" type="button" onclick="window.location.href='{{ path('app_login') }}'">Connexion</button>
                            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-200" type="button" onclick="window.location.href='{{ path('app_register') }}'">Inscription</button>
                            <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 transition duration-200" type="button" onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>
                        </div>
                            {#<form class="flex items-center">
                                <label>
                                    <input class="px-4 py-2 rounded border border-gray-300" type="text" placeholder="Recherche">
                                </label>
                                <button class="bg-gray-500 text-white px-2 py-2 rounded hover:bg-gray-700 transition duration-200 ml-2" type="submit">Rechercher</button>
                            </form>#}
                        <div class="flex items-center px-5">
                            <div class="flex-shrink-0">
                                <img class="h-25 w-25 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&#38;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                            </div>
                        </div>
                        <div class=" max-w-sm lg:max-w-xs">
                            <label for="search" class="sr-only">Recherche</label>
                            <div class="relative text-gray-400 focus-within:text-gray-500">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                    <svg class="h-5 w-5" x-description="Heroicon name: mini/magnifying-glass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input id="search" class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 text-gray-900 placeholder-gray-500 focus:border-purple-500 focus:placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-purple-500 sm:text-sm" placeholder="Recherche" type="search" name="search">
                            </div>
                        </div>


                    </div>
                </nav>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

    </nav>
</div>
